<% layout('./layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrouds", method ="POST">
            <div class="mb-3">
                <label class="form-lable" for="title">Title</label>
                <input class="form-control", id = "title", name ="campgroud[title]">
            </div>
            <div class="mb-3">
                <label class="form-lable" for="location">Location</label>
                <input class="form-control" type="text", id = "location", name ="campgroud[location]">
            </div>
            <div class="mb-3">
                <label class="form-lable" for="image">Image Url</label>
                <input class="form-control" type="text", id = "image", name ="campgroud[image]">
            </div>
            <div class="input-group mb-3">
                <label class="form-lable" for="price">Campground Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="number" class="form-control" placeholder="0.00", name ="campgroud[price]", aria-label="price" aria-describedby="price-label">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-lable" for="textarea">Description</label>
                <textarea class="form-control" type="text", id = "textarea", name ="campgroud[description]"> </textarea>
            </div>
            <div class="mb-3">
            <button class="btn btn-success">Add New Campground</button>
            </div>
        </form>
        <a href="/campgrouds">All Campgrounds</a>
    </div>
</div>