<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <h1><%= campgrouds.title %></h1>
    <h2><%= campgrouds.location %></h2>
    <p>
    <form action="/campgrouds/<%=campgrouds._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
    </form>
    </p>
    <footer>
    <a href="/campgrouds">All Campgrounds</a> 
    <a href="/campgrouds/<%=campgrouds._id%>/edit">Edit</a> 

    </footer>
</body>
</html>